Pillow
whitenoise
dj-database-url
psycopg2-binary
gunicorn
Django>=5.2.5
sqlparse
asgiref
pytz
django-jazzmin
django-allauth
django-widget-tweaks
django-apscheduler
requests
beautifulsoup4
PyJWT
python3-openid
requests-oauthlib
cryptography
fastapi
uvicorn
